@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- /.ribbon-->
<div class="ribbon sale">
    <div class="theribbon">SALE</div>
    <div class="ribbon-background"></div>
</div>
<!-- /.ribbon-->