<!-- /#advantages-->
<div id="advantages">
    <!-- /.container-->
    <div class="container">
        <!-- /.row-->
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                    <div class="icon"><i class="fa fa-heart"></i></div>
                    <h3>We love our customers</h3>
                    <p class="mb-0">We are known to provide best possible service ever</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                    <div class="icon"><i class="fa fa-tags"></i></div>
                    <h3>Best prices</h3>
                    <p class="mb-0">You can check that the height of the boxes adjust when longer text like this one is used in one of them.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                    <div class="icon"><i class="fa fa-thumbs-up"></i></div>
                    <h3>100% satisfaction guaranteed</h3>
                    <p class="mb-0">Free returns on everything for 3 months.</p>
                </div>
            </div>
        </div>
        <!-- /.row-->
    </div>
    <!-- /.container-->
</div>
<!-- /#advantages-->
