@using Rookie.CustomerSite.ViewModel
@using Rookie.CustomerSite.ViewModel.Category
@model PagedResponseVM<CategoryVm>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
}

@foreach (var category in Model.Items)
{
    <div class="col-lg-4 col-md-6">
        <h5>@category.Name</h5>
        @foreach (var subcategory in category.SubCategories.Items)
        {
            <ul class="list-unstyled">
                <li><a asp-controller="Products" asp-action="ProductByCategory" asp-route-subCategoryId="@subcategory.SubCategoryId">@subcategory.Name</a></li>
            </ul>
        }
    </div>
}
