#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
}

#navbar li {
  list-style: none;
    display: inline-block;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

div.nav-details > * {
  display: inline-block;
  color: royalblue;
  font-size: 22px;
}

.navbar-toggler{
  float: right;
}

.signin{
  text-decoration: none;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  padding: 0px 100px;
}

.signin:hover{
  color: white;
}