#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
}

#navbar li {
  list-style: none;
  display: inline-block;
  font-size: 22px;
  color: white;
}

div.nav-details > * {
  display: inline-block;
  color: royalblue;
  font-size: 22px;
}

.navbar-toggler{
  float: right;
}
